{% load staticfiles i18n crispy_forms_tags %}
{% spaceless %}
<!DOCTYPE html>
<!--[if IE 8]>
<html lang="es" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="es" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es"> <!--<![endif]-->
<head>
    <title>Edu Herraiz</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Edu Herraiz (sysadmin and developer) personal website">
    <meta name="author" content="Edu Herraiz">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.css' %}">
    <!-- github acitivity css -->
    <link rel="stylesheet" href="{% static 'css/octicons.min.css'%}">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static 'css/styles.css'%}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

</head>

<body>
<!-- Contact Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Contacta conmigo</h4>
            </div>
            <div class="modal-body">
                {% crispy form form.helper %}
            </div>
        </div>
    </div>
</div>


<!-- ******HEADER****** -->
<header class="header">
    <div class="container">
        <img class="profile-image img-responsive pull-left" src="{% static 'images/avatar-180.png' %}"
             alt="Edu Herraiz"/>

        <div class="profile-content pull-left">
            <h1 class="name">Edu Herraiz</h1>

            <h2 class="desc" id="titulo">Informático interdisciplinar</h2>
            <ul class="social list-inline">
                <li><a href="http://www.linkedin.com/pub/eduardo-herraiz/30/811/27b"><i class="fa fa-linkedin"></i></a>
                </li>
                <li><a href="https://twitter.com/eduherraiz"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://github.com/eduherraiz"><i class="fa fa-github-alt"></i></a></li>
                <li><a href="http://es-es.facebook.com/edu.herraizaparicio"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://plus.google.com/104861748217559581702/about"><i class="fa fa-google-plus"></i></a>
                </li>
                <!--<li><a href="https://speakerdeck.com/eduherraiz"><i class="fa fa-graduation-cap"></i></a></li>-->
                <li><a href="http://www.youtube.com/user/sharkMallorca"><i class="fa fa-youtube"></i></a></li>
                <li class="last-item"><a href="http://vimeo.com/user3336866/videos"><i
                        class="fa fa-vimeo-square"></i></a></li>

            </ul>
        </div>
        <!--//profile-->
        <a class="btn btn-cta-{% if messages %}success{% else %}primary{% endif %} pull-right" href="#myModal" role="button" data-toggle="modal"><i
                class="fa fa-paper-plane"></i>{% if messages %}{% for message in messages %}{{message}}{%endfor%}{%else%}Contacta conmigo{% endif %}</a>
    </div>
    <!--//container-->
</header>
<!--//header-->

{% block content %}
{% endblock %}

<div class="container sections-wrapper">
<div class="row">
<div class="primary col-md-8 col-sm-12 col-xs-12">
    <section class="about section">
        <div class="section-inner">
            <h2 class="heading">Sobre mí</h2>

            <div class="content">
                <p>Soy informático de profesión y un <a href="http://www.pescandoenmallorca.com">fanático pescador</a>
                    con la suerte de vivir en una isla.<br/>
                    Actualmente estoy trabajando como administrador de sistemas y programador de multitud de proyectos
                    web en <a href='http://www.apsl.net'>apsl.net</a>.<br/>
                    Como programador me gusta Python y llevo varios desarrollos propios en Django. Como administrador de
                    sistemas me gusta GNU/Linux e intento defender el software libre.<br/>
                    Estoy abierto a nuevas experiencias y retos, tanto laborales como personales. No dudes en <a
                            href="#myModal" role="button" data-toggle="modal">contactar</a> conmigo o buscarme por las
                    redes sociales para comunicarnos.</p>
            </div>
            <!--//content-->
        </div>
        <!--//section-inner-->
    </section>
    <!--//section-->

    <section class="latest section">
        <div class="section-inner">
            <h2 class="heading">Últimos proyectos</h2>

            <div class="content">

                <div class="item featured text-center">
                    <h3 class="title"><a href="http://vagi.be" target="_blank">Vagi.be - Webcams geolocalizadas</a></h3>

                    <p class="summary">Un visor de webcams con imágenes del dia e información del tiempo</p>

                    <div class="featured-image">
                        <a href="http://vagi.be" target="_blank">
                            <img class="img-responsive project-image" src="{% static 'images/projects/vagi-be.png' %}"
                                 alt="project name"/>
                        </a>

                        <div class="ribbon">
                            <div class="text">App</div>
                        </div>
                    </div>

                    <div class="desc text-left">
                        <p>Lo voy desarrollando en ratos libres pero ya puedes ver muchas webcams de todo el mundo y con
                            su fantástico visor las imágenes del todo un día. Información del tiempo y la fase
                            lunar.</p>
                    </div>
                    <!--//desc-->
                </div>
                <!--//item-->
                <div class="item row">
                    <a class="col-md-4 col-sm-4 col-xs-12" href="http://www.pescandoenmallorca.com" target="_blank">
                        <img class="img-responsive project-image" src="{% static 'images/projects/pem.png' %}"
                             alt="Pescando en Mallorca"/>
                    </a>

                    <div class="desc col-md-8 col-sm-8 col-xs-12">
                        <h3 class="title"><a href="http://www.pescandoenmallorca.com" target="_blank">Pescandoenmallorca.com
                            - Blog de pesca</a></h3>

                        <p>Blog de tradición familiar, que empezó con las andanzas de nuestro grupo de pesca pero que
                            ahora es un punto de encuentro de muchos pescadores mallorquines.</p>

                        <p><a class="more-link" href="http://www.pescandoenmallorca.com" target="_blank"><i
                                class="fa fa-external-link"></i> Lee más</a></p>
                    </div>
                    <!--//desc-->
                </div>
                <!--//item-->

                <div class="item row">
                    <a class="col-md-4 col-sm-4 col-xs-12" href="https://pymallorca.org" target="_blank">
                        <img class="img-responsive project-image" src="{% static 'images/projects/pymallorca.png' %}"
                             alt="Pymallorca"/>
                    </a>

                    <div class="desc col-md-8 col-sm-8 col-xs-12">
                        <h3 class="title"><a href="https://pymallorca.org" target="_blank">Pymallorca - Asociación
                            python de Mallorca</a></h3>

                        <p>Estoy promoviendo una asociación aún por constituir de los amantes del lenguaje de
                            programación python en Mallorca. Ya somos muchos apuntados, si te interesa el tema apúntate.
                            - <a href="https://github.com/pymallorca/pymallorca"><span class="label label-theme">Código libre</span></a>
                        </p>

                        <p><a class="more-link" href="https://pymallorca.org" target="_blank"><i
                                class="fa fa-external-link"></i> Lee más</a></p>
                    </div>
                    <!--//desc-->
                </div>
                <!--//item-->

                <div class="item row">
                    <a class="col-md-4 col-sm-4 col-xs-12" href="http://palabras.eduherraiz.com/es/" target="_blank">
                        <img class="img-responsive project-image" src="{% static 'images/projects/words.png' %}"
                             alt="Palabras con letras"/>
                    </a>

                    <div class="desc col-md-8 col-sm-8 col-xs-12">
                        <h3 class="title"><a href="http://palabras.eduherraiz.com/es/" target="_blank">Palabras - Busca
                            palabras con letras</a></h3>

                        <p> Un pequeño site que hice para satisfacer mi curiosidad sobre que palabras se pueden formar
                            con unas determinadas letras. En catalán y castellano. Pruebálo, es adictivo!
                            - <a href="https://github.com/eduherraiz/words_with_letters"><span
                                    class="label label-theme">Código libre</span></a></p>

                        <p><a class="more-link" href="http://palabras.eduherraiz.com/es/" target="_blank"><i
                                class="fa fa-external-link"></i> Lee más</a></p>
                    </div>
                    <!--//desc-->
                </div>
                <!--//item-->

            </div>
            <!--//content-->
        </div>
        <!--//section-inner-->
    </section>
    <!--//section-->

    <section class="projects section">
        <div class="section-inner">
            <h2 class="heading">Proyectos viejos</h2>

            <div class="content">
                <div class="item">
                    <h3 class="title"><a
                            href="http://www.eduherraiz.com/blog/foowill-un-proyecto-inutil-que-no-lo-fue-tanto/">Foowill</a>
                        - <a href="https://github.com/eduherraiz/foowill"><span
                                class="label label-theme">Código libre</span></a></h3>

                    <p class="summary">Una aplicación web que donde podías guardar mensajes en twitter que se publicarán
                        cuando mueras.</p>

                    <p><a class="more-link"
                          href="http://www.eduherraiz.com/blog/foowill-un-proyecto-inutil-que-no-lo-fue-tanto/"
                          target="_blank"><i class="fa fa-external-link"></i> Lee más</a></p>
                </div>
                <!--//item-->
                <div class="item">
                    <h3 class="title"><a href="http://www.eduherraiz.com/algaidawireless/">Algaida wireless</a></h3>

                    <p class="summary">Una red MAN (Metropolitan Area Network), que iniciamos hace muchos años en el
                        pueblo de Algaida. Construyendo antenas y nodos.</p>

                    <p><a class="more-link" href="http://www.eduherraiz.com/algaidawireless/" target="_blank"><i
                            class="fa fa-external-link"></i> Lee más</a></p>
                </div>
                <!--//item-->
                <a class="btn btn-cta-secondary" href="https://github.com/eduherraiz">Más en github</i></a>

            </div>
            <!--//content-->
        </div>
        <!--//section-inner-->
    </section>
    <!--//section-->

</div>
<!--//primary-->
<div class="secondary col-md-4 col-sm-12 col-xs-12">
    <aside class="info aside section">
        <div class="section-inner">
            <h2 class="heading sr-only">Información básica</h2>

            <div class="content">
                <ul class="list-unstyled">
                    <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span><a
                            href="https://www.google.es/maps/place/Mallorca,+Islas+Baleares/@39.6134979,2.911652,10z/data=!3m1!4b1!4m2!3m1!1s0x1297b8766606c129:0xb7eb9bff02d2ecc0">Mallorca</a>,
                        ES
                    </li>
                    <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#contacta">edu@eduherraiz.com</a>
                    </li>
                    <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a
                            href="http://www.eduherraiz.com">http://www.eduherraiz.com</a></li>
                </ul>
            </div>
            <!--//content-->
        </div>
        <!--//section-inner-->
    </aside>
    <!--//aside-->

    <aside class="blog aside section">
        <div class="section-inner">
            <h2 class="heading">Entradas en blog</h2>
            <!--<p>You can use Sascha Depold's <a href="https://github.com/sdepold/jquery-rss" target="_blank">jQuery RSS plugin</a> to pull in your blog post feeds.</p>-->
            <div id="rss-feeds" class="content">

            </div>
            <!--//content-->
        </div>
        <!--//section-inner-->
    </aside>
    <!--//section-->

    <aside class="credits aside section">
        <div class="section-inner">
            <h2 class="heading">Creditos</h2>

            <div class="content">
                <p>
                    <a href="http://themes.3rdwavemedia.com/website-templates/free-responsive-website-template-for-developers/"
                       target="_blank">Diseño</a> por <a href="https://www.linkedin.com/in/xiaoying" target="_blank">Xiaoying
                    Riley</a> con <a class="dotted-link" href="http://creativecommons.org/licenses/by/3.0/"
                                     target="_blank">CCA 3.0 License</a></p>

            </div>
            <!--//content-->
        </div>
        <!--//section-inner-->
    </aside>
    <!--//section-->

</div>
<!--//secondary-->
</div>
<!--//row-->
</div>
<!--//masonry-->

<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="container text-center">
        <small class="copyright">Programando con <i class="fa fa-heart"></i> desde hace ya mucho tiempo y sin copyright.<br>
            Encuentra el código de esta web en <a href="https://github.com/eduherraiz/portfolio">github</a>.
        </small>
    </div>
    <!--//container-->
</footer>
<!--//footer-->

<!-- Javascript -->
<script type="text/javascript" src="{% static 'plugins/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/jquery-migrate-1.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/jquery-rss/dist/jquery.rss.min.js' %}"></script>
<!-- github activity plugin -->
<script type="text/javascript" src="{% static 'js/mustache.min.js'%}"></script>
<!-- custom js -->
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>


<!-- Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-22166003-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
{% endspaceless %}
