{% load staticfiles i18n crispy_forms_tags %}
{% spaceless %}
<!DOCTYPE html>
<!--[if IE 8]>
<html lang="es" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="es" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es"> <!--<![endif]-->
<head>
    <title>{{personal.name}}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{personal.description}}">
    <meta name="author" content="{{personal.name}}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.css' %}">
    <!-- github acitivity css -->
    <link rel="stylesheet" href="{% static 'css/octicons.min.css'%}">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static 'css/styles.css'%}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

</head>

<body>
<!-- Javascript variables -->
<script type="text/javascript">

    var words = [{% for prof in personal.professions.all %}"{{prof.name}}",{% endfor %}];
    var blog_url = "{{personal.link_blog_rss}}";
    var interval_profession = {{personal.interval_profession}};
    var blog_entries = {{personal.num_blog_entries}};
</script>

<!-- Contact Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="exampleModalLabel">{% trans 'Contacta conmigo' %}</h4>
            </div>
            <div class="modal-body">
                {% crispy form form.helper %}
            </div>
        </div>
    </div>
</div>


<!-- ******HEADER****** -->
<header class="header">
    <div class="container">
        <img class="profile-image img-responsive pull-left" src="{% static 'images/avatar-180.png' %}"
             alt="{{personal.name}}"/>

        <div class="profile-content pull-left">
            <h1 class="name">{{personal.name}}</h1>

            <h2 class="desc" id="titulo">{% with personal.professions.all|first as first_prof %}{{ first_prof.name }}{% endwith %}</h2>
            <ul class="social list-inline">
                {% if personal.link_linkedin %}
                <li><a href="{{personal.link_linkedin}}"><i class="fa fa-linkedin"></i></a></li>
                {% endif %}
                {% if personal.link_twitter %}
                <li><a href="{{personal.link_twitter}}"><i class="fa fa-twitter"></i></a></li>
                {% endif %}
                {% if personal.link_github %}
                <li><a href="{{personal.link_github}}"><i class="fa fa-github-alt"></i></a></li>
                {% endif %}
                {% if personal.link_facebook %}
                <li><a href="{{personal.link_facebook}}"><i class="fa fa-facebook"></i></a></li>
                {% endif %}
                {% if personal.link_googleplus %}
                <li><a href="{{personal.link_googleplus}}"><i class="fa fa-google-plus"></i></a></li>
                {% endif %}
                {% if personal.link_youtube %}
                <li><a href="{{personal.link_youtube}}"><i class="fa fa-youtube"></i></a></li>
                {% endif %}
                {% if personal.link_vimeo %}
                <li class="last-item"><a href="{{personal.link_vimeo}}"><i class="fa fa-vimeo-square"></i></a></li>
                {% endif %}
            </ul>

        <ul class="list-inline">
        {% for lang in LANGUAGES %}
            <li>
            <form name="setLang{{ lang.1 }}" action="/i18n/setlang/" method="POST">{% csrf_token %}
                <input name="next" type="hidden" value="/" />
                <input type="hidden" name="language" value="{{ lang.0 }}" />
                <a href="#" onclick="document.setLang{{ lang.1 }}.submit();return false;"><img src="blank.gif" class="flag flag-{{ lang.0 }}" alt="{{ lang.1 }}" /></a>
            </form>
            </li>
        {% endfor %}
        </ul>

        </div>
        <!--//profile-->
        <a class="btn btn-cta-{% if messages %}success{% else %}primary{% endif %} pull-right" href="#myModal" role="button" data-toggle="modal"><i
                class="fa fa-paper-plane"></i>{% if messages %}{% for message in messages %}{{message}}{%endfor%}{%else%}{% trans 'Contacta conmigo'%}{% endif %}</a>

    </div>
    <!--//container-->
</header>
<!--//header-->

{% block content %}
{% endblock %}

<div class="container sections-wrapper">
<div class="row">
<div class="primary col-md-8 col-sm-12 col-xs-12">
    <section class="about section">
        <div class="section-inner">
            <h2 class="heading">{% trans 'Sobre mí' %}</h2>

            <div class="content">
                {{personal.welcome_message|safe}}
            </div>
            <!--//content-->
        </div>
        <!--//section-inner-->
    </section>
    <!--//section-->

    <section class="latest section">
        <div class="section-inner">
            <h2 class="heading">{% trans 'Últimos proyectos' %}</h2>

            <div class="content">

                <!-- important projects -->
                {% for project in personal.projects.all %}
                {% if project.type  == 'IMP' %}
                <div class="item featured text-center">
                    <h3 class="title"><a href="{{ project.url }}" target="_blank">{{ project.name }}</a></h3>

                    <div class="summary">{{ project.short_description|safe }}</div>

                    <div class="featured-image">
                        <a href="{{ project.url }}" target="_blank">
                            <img class="img-responsive project-image" src="{{ project.image.url }}"
                                 alt="{{ project.name }}"/>
                        </a>
                        <div class="ribbon">
                            <div class="text">App</div>
                        </div>
                    </div>
                    <div class="desc text-left">
                        <p>{{ project.long_description|safe }}</p>
                    </div>
                    <!--//desc-->
                </div>
                {% endif %}
                {% endfor %}
                <!-- //important projects -->

                <!-- Normal projects -->
                {% for project in personal.projects.all %}
                {% if project.type  == 'NOR' %}
                <!--//item-->
                <div class="item row">
                    <a class="col-md-4 col-sm-4 col-xs-12" href="{{ project.url }}" target="_blank">
                        <img class="img-responsive project-image" src="{{ project.image.url }}"
                             alt="{{ project.name }}"/>
                    </a>

                    <div class="desc col-md-8 col-sm-8 col-xs-12">
                        <h3 class="title"><a href="{{ project.url }}" target="_blank">{{ project.name }}</a></h3>
                        {{ project.short_description|safe }}
                        <p><a class="more-link" href="{{ project.url }}" target="_blank"><i
                                class="fa fa-external-link"></i> {% trans 'Lee más' %}</a>
                        {% if project.free_code_url %}
                        - <a href="{{ project.free_code_url }}"><span class="label label-theme">{% trans 'Código libre' %}</span></a>
                        {% endif %}
                        </p>
                    </div>
                    <!--//desc-->
                </div>
                <!--//item-->
                {% endif %}
                {% endfor %}
                <!-- //normal projects -->



            </div>
            <!--//content-->
        </div>
        <!--//section-inner-->
    </section>
    <!--//section-->

    <section class="projects section">
        <div class="section-inner">
            <h2 class="heading">{% trans 'Proyectos viejos' %}</h2>

            <div class="content">

                <!-- OLD projects -->
                {% for project in personal.projects.all %}
                {% if project.type  == 'OLD' %}
                <!--//item-->
                <div class="item">
                    <h3 class="title"><a
                            href="{{ project.url }}">{{ project.name }}</a></h3>

                    <div class="summary">{{ project.short_description|safe }}</div>

                        <p><a class="more-link" href="{{ project.url }}" target="_blank"><i
                                class="fa fa-external-link"></i> {% trans 'Lee más' %}</a>
                        {% if project.free_code_url %}
                        - <a href="{{ project.free_code_url }}"><span class="label label-theme">{% trans 'Código libre' %}</span></a>
                        {% endif %}
                </div>

                <!--//item-->
                {% endif %}
                {% endfor %}
                <!-- //old projects -->

            </div>
            <!--//content-->
        </div>
        <!--//section-inner-->
    </section>
    <!--//section-->

</div>
<!--//primary-->
<div class="secondary col-md-4 col-sm-12 col-xs-12">
    <aside class="info aside section">
        <div class="section-inner">
            <h2 class="heading sr-only">{% trans 'Información básica' %}</h2>

            <div class="content">
                <ul class="list-unstyled">
                    <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span><a
                            href="{{personal.link_location}}">{{personal.location}}</a>
                    </li>
                    <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#myModal" role="button" data-toggle="modal">{{personal.email}}</a>
                    </li>
                    <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a
                            href="{{personal.webiste}}">{{personal.website}}</a></li>
                </ul>
            </div>
            <!--//content-->
        </div>
        <!--//section-inner-->
    </aside>
    <!--//aside-->

    <aside class="blog aside section">
        <div class="section-inner">
            <h2 class="heading">{% trans 'Entradas en blog' %}</h2>
            <div id="rss-feeds" class="content">

            </div>
            <!--//content-->
        </div>
        <!--//section-inner-->
    </aside>
    <!--//section-->

    <aside class="credits aside section">
        <div class="section-inner">
            <h2 class="heading">{% trans 'Créditos' %}</h2>

            <div class="content">
                <p>
                    <a href="http://themes.3rdwavemedia.com/website-templates/free-responsive-website-template-for-developers/"
                       target="_blank">{% trans 'Diseño'%}</a> {% trans "por" %} <a href="https://www.linkedin.com/in/xiaoying" target="_blank">Xiaoying
                    Riley</a> {% trans 'con' %} <a class="dotted-link" href="http://creativecommons.org/licenses/by/3.0/"
                                     target="_blank">CCA 3.0 License</a></p>

            </div>
            <!--//content-->
        </div>
        <!--//section-inner-->
    </aside>
    <!--//section-->

</div>
<!--//secondary-->
</div>
<!--//row-->
</div>
<!--//masonry-->

<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="container text-center">
        <small class="copyright">{{personal.footer|safe}}</small></div>
    <!--//container-->
</footer>
<!--//footer-->

<!-- Javascript -->
<script type="text/javascript" src="{% static 'plugins/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/jquery-migrate-1.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/jquery-rss/dist/jquery.rss.min.js' %}"></script>
<!-- github activity plugin -->
<script type="text/javascript" src="{% static 'js/mustache.min.js'%}"></script>
<!-- custom js -->
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

{%if form.errors %}
<script type="text/javascript">
$( document ).ready( function() {
    $( '#myModal' ).modal( 'toggle' );
});
</script>
{% endif %}

<!-- Analytics -->
{{personal.analytics_code|safe}}

</body>
</html>
{% endspaceless %}
